body {
    background-color: rgb(180, 180, 180);
    font-family: sans-serif;
}

#cabecalho {
    border: black 1px solid;
    border-radius: 10px;
    padding-left: 50px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
}

#conteudo {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

a {
    text-decoration: unset;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#imgLoja {
    width: 100%;
}

#tituloDestaque {
    display: flex;
    justify-content: center;
    text-shadow: gray 1px 1px 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#produtos {
    display: flex;
    justify-content: space-between;
}

.produtoDestaque {
    border: gray 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: gray 2px 2px 3px;
}

.imgDestaque {
    width: 50%;
    justify-content: center;
    margin-left: 25%;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

.descDestaque {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 10px;
    text-align: justify;
}

#rodape {
    background-color: rgb(110, 110, 110);
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#redesSociais {
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
}

#redesSociais img {
    width: 40px;
}

#rede {
    margin: 5px auto;
}

#email {
    margin-right: 50px;
}

#receba {
    color: white;
}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

button {
    background-color: rgb(80, 80, 250);
    width: 100px;
    height: 60px;
    border: rgb(80, 80, 250) 1px solid;
    color: white;
    font-size: 20px;
    box-shadow: blue 2px 2px 5px;
}