body {
  background-color: grey;
}

.container, .container-fluid {
  background-color: white;
}

#imagemLogo {
  margin-bottom: 30px;
}

#logoLoja {
  width: 100%;
}

#tituloDestaque {
  text-align: center;
}

h5,
h6 {
  text-align: center;
}

#rodape {
  padding-top: 50px;
  color: white;
  background-color: darkgrey;
}

#rodape img {
  width: 30px;
}
